.content {
    max-height: 108px;
    justify-content: space-between;
    .left_block {
        align-content: space-between;
        .title {
            font-size: 42px;
            font-weight: 400;
        }

        .description {
            font-size: 36px;
            font-weight: 400;
        }
    }

    .right_block {
        align-content: space-between;
    }
}
